<%= render 'layouts/header' %> 

 <%= form_tag("/user/edit", method: "post") do %>
 	  <%= hidden_field_tag 'user_id', @user.id %>
      <%= label_tag(:name, "Name:") %>
      <%= text_field_tag 'name', @user.name %><br>
      <%= label_tag(:email, "Email:") %> 
      <%= text_field_tag 'email', @user.email %>
	  <%= label_tag(:password, "Password:") %> 
      <%= password_field_tag(:password) %>
      <%= submit_tag("Submit") %>
    <% end %>


<!--<form method="post" action ="/user/handleEdit">

	<fieldset>
		<legend> Edit Profile </legend>

		<input type="hidden" name="user_id" value= <%= @user.id %> >

		Name: <br>
		<input type="text" name="name" value = <%= @user.name %> > <br/>

		Email: <br>
		<input type="email" name="email" value = <%= @user.email %> > <br/>

		<input type="submit" value="Submit">
	</fieldset>

</form> -->