
<!DOCTYPE html>
<%= render 'layouts/header' %>

<div class = "center jumbotron">

<%= label_tag(:name, "Username:") %>
<%= label_tag 'name', @user.username %><br>
<%= label_tag(:name, "Name:") %>
<%= label_tag 'name', @user.name %><br>
<%= label_tag(:name, "Email:") %>
<%= label_tag 'name', @user.email %><br>

</div>